server:
  port: 8888

spring:
  application:
    name: config-server

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,refresh,env
  endpoint:
    health:
      show-details: always
  endpoint:
    env:
      enabled: true # Added to enable environment endpoint

logging:
  level:
    org.springframework.cloud.config: DEBUG
    org.springframework: DEBUG # Added to enable debug logging for Spring

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
